<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/base.css" />
    <title>Pathfinder 2e NPC Generator</title>
  </head>
  <body>
    <header class="navbar-container">
      <nav class="nav-bar">
        <ul>
          {% if g.user %}
          <li>Welcome, {{g.user.username}}!</li>
          <li><a href="/logout">Log Out</a></li>
          {% else %}
          <li><a href="/login">Log In</a></li>
          <li><a href="/signup">Sign Up</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>
    {% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="flash-message">{{ message }}</div>
    {% endfor %} {% block content %}
    <main data-page="home">
      <h1>Randomly Generate a Pathfinder 2e character!</h1>

      <div class="npc-form-container">
        <form class="npc-form" method="POST">
          {{npc_form.hidden_tag()}} {% for field in npc_form if
          field.widget.input_type != 'hidden' %}
          <p class="npc-form-label">
            <!-- Want to show only show 'save button' from form if user is logged in, otherwise all
            other components of form display to user -->
            {% if field.name != 'save_button1' %} {{field.label}}{% endif %} {%
            if field.name != 'save_button1' %} {{field}} {% endif %} {% if
            field.name == 'save_button1' and g.user %} {{field}} {% endif %} {%
            for error in field.errors %} {{error}} {% endfor %}
          </p>
          {% endfor %}
          <button
            class="form-button"
            id="generate-character"
            type="reset|button"
          >
            Generate Character
          </button>
        </form>

        <!-- <form class="save-form" action="/">
          <button class="save-submit" action=""
        </form> -->
      </div>
      <div class="npc-group-display">
        <div class="npc-display">
          <h2 id="character-name">Character Name</h2>
          <div class="npc-stats-display">
            <ul class="npc-display-stats" id="main-details">
              <li>Background</li>
              <li>Ancestry</li>
              <li>Char_class</li>
              <li>Level</li>
            </ul>
            <ul class="npc-display-stats" id="stats">
              <li>Str</li>
              <li>Con</li>
              <li>Wis</li>
              <li>Dex</li>
              <li>Int</li>
              <li>Cha</li>
            </ul>
            <ul class="npc-display-stats" id="feats"></ul>
          </div>
        </div>
        <div class="group-display">
          <h3>Groups</h3>
          {% if g.user %}
          <form class="group-form" method="POST">
            {{group_form.hidden_tag()}} {% for field in group_form if
            field.widget.input_type != 'hidden' %}
            <p class="group-form-label">
              {{field}} {% for error in field.errors %} {{error}} {% endfor %}
            </p>
            {% endfor %}
          </form>
          <ul class="group-name">
            <li>test</li>
            {% for character in characters %}
            <li>{{character.name}}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
      </div>
      {% endblock %}
    </main>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>

    <script src="/static/domElements.js"></script>

    <script src="/static/functions.js"></script>
    <script src="/static/pf2e.js"></script>
  </body>
</html>
