{% extends 'index.html' %} {% block content %}
<main data-page="singup">
  <h2 class="title">Please sign up to save your characters.</h2>
  <div class="form-container">
    <form method="POST" id="user-signup">
      {{ form.hidden_tag()}} {% for field in form if field.widget.input_type !=
      'hidden' %} {% for error in field.errors %}
      <span class="error"> {{ error }} </span>
      {% endfor %} {{ field(placeholder=field.label.text, class="form-input") }}
      {% endfor %}
      <button class="login-btn">Sign up</button>
    </form>
  </div>
</main>
{% endblock %}
